*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies/
.worksheet/
.cache-main/
.cache-tests/
*/.classpath/
*/.metadata/
*/.project/
*/.settings/

#intellij

.idea
.idea_modules

#project
assets/
node_modules/
/core/docs
.DS_Store

core/.cache-main
core/.classpath
core/.project
demo/.classpath
demo/.project
gen/.cache-main
gen/.cache-tests
gen/.classpath
gen/.project
macros/.cache-main
macros/.classpath
macros/.project

*/.gitignore