/* -- Material Design Table style http://codepen.io/zavoloklom/pen/IGkDz -------------- */
.reacttable .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #ffffff;
}

.reacttable .table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.reacttable .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    text-align: left;
    padding: 1.1rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.reacttable .table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.reacttable .table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.reacttable .table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.reacttable .table .table {
    background-color: #ffffff;
}

.reacttable .table .no-border {
    border: 0;
}

.reacttable .table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 0.8rem;
}

.reacttable .table-bordered {
    border: 0;
}

.reacttable .table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.reacttable .table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.reacttable .table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f5f5f5;
}

.reacttable .table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 600px) {
    .reacttable .table-responsive-vertical > .table {
        margin-bottom: 0;
        background-color: transparent;
    }

    .reacttable .table-responsive-vertical > .table > thead,
    .reacttable .table-responsive-vertical > .table > tfoot {
        display: none;
    }

    .reacttable .table-responsive-vertical > .table > tbody {
        display: block;
    }

    .reacttable .table-responsive-vertical > .table > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }

    .reacttable .table-responsive-vertical > .table > tbody > tr > td {
        background-color: #ffffff;
        display: block;
        vertical-align: middle;
        text-align: right;
    }

    .reacttable .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }

    .reacttable .table-responsive-vertical.shadow-z-1 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .reacttable .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
        border: none;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .reacttable .table-responsive-vertical > .table-bordered {
        border: 0;
    }

    .table-responsive-vertical > .table-bordered > tbody > tr > td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .reacttable .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
        border-bottom: 0;
    }

    .reacttable .table-responsive-vertical > .table-striped > tbody > tr > td,
    .reacttable  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .reacttable .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
        background-color: #f5f5f5;
    }

    .reacttable .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
    .reacttable .table-responsive-vertical > .table-hover > tbody > tr:hover {
        background-color: #ffffff;
    }

    .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.reacttable .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > td,
.reacttable .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > th {
    background-color: #E4F0EF;
}

.reacttable .table-hover.table-mc-blue > tbody > tr:hover > td,
.reacttable .table-hover.table-mc-blue > tbody > tr:hover > th {
    background-color: #abeff9;
}

@media screen and (max-width: 600px) {
    .reacttable .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td,
    .reacttable .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .reacttable .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td:nth-child(odd) {
        background-color: #E4F0EF;
    }

    .reacttable .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover > td,
    .reacttable .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover {
        background-color: #ffffff;
    }

    .reacttable .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr > td:hover {
        background-color: #abeff9;
    }
}

.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

/*Searchbox Styles*/

.reacttable .form-group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
}

.reacttable .form-control {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
}

.reacttable .form-control:focus {
    border-color: #757575;
    outline: none;
    box-shadow: none;
    border-bottom: 1.5px solid #03a9f4;
}

/*Sorting icons*/

.reacttable .ascendingIcon:after {
    /*content: "\25b2";*/
    /*opacity: 0.8;*/
    content: '\25B2';
    font-size: 12px;
    margin-left: 5px;

}

.reacttable .descendingIcon:after {
    /*content: "\25bc";*/
    /*opacity: 0.8;*/
    content: '\25BC';
    font-size: 12px;
    margin-left: 5px;
}

.reacttable .settings {
    margin: 6px 0;
    padding: 5px 5px;
}


